@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.quizSection {
    background-color: rgba(33, 31, 31, 0.885); 
    display: flex; /* Use flexbox to vertically list each question section */
    flex-direction: column; /* Set the flex direction to column */
    font-family:Arial, Helvetica, sans-serif;
  }
  
 .questionSection {
    padding: 10px; /* Add padding to the question section */
    margin: 10px; /* Add margin to the question section */
  }

  .questionbody {
    margin: 15px auto 0px auto;
    width: 70%;
    padding: 10px;
    border-radius: 16px;
    background-color: rgb(56,56,56);
    border: 1px solid rgb(0,0,0);
    resize: none;
    text-align: left;
    align-items: center;
  }

  .choice {
    padding: 2px 0px 2px 0px;
  }
  .choice input {
    margin: 10px;
  }  
   /* 
 
  
  input[type="text"] {
  }
  
  label {
  }
  
  input[type="radio"] {
  }
   */